* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #fefae0;
}
nav{
    margin: 0 auto;
	max-width: 770px;
    border-radius: 15px;
    border: 1px solid #000;
}
ul {
	list-style-type: none;
}
nav ul li{
    border-bottom: 1px solid #000;
    border-radius: 15px;
}
nav a {
	display: block;
	color: #000;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
nav a:hover {
	border: 2px solid #fff;
    border-radius: 15px;
}
.active {
	color: #000;
    text-decoration: underline #fff;
    text-decoration-thickness: 3px;
}
main, header{
    background-color: #a7c957;
}
section{
    background-color: #6a994e;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid #000;
}
header {
    max-width: 767px;
    margin: 1rem auto;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(226, 241, 234);
    position: relative;
    color: rgb(68, 90, 79);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header img{
    grid-column: 1/2;
}
h1{
    grid-column: 3/5;
}

main, footer {
    font-family: sans-serif;
    max-width: 767px;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 15px;
}
h2{
    font-family: sans-serif;
    max-width: 800px;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #bc4749;
    border-radius: 15px;
    text-align: center;
}
h3{
    text-align: center;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: .5rem;
    border-radius: 15px;
    background-color:#a7c957;
}
main, header{
    background-color: #ffffffd5;
}
footer, nav{
    background-color: #386641;
}
nav{
    background-color: #6a994e;
}
a{
    color: #000;
}
main{
    display: grid;
    grid-template-columns: 1fr;
}
footer p{
    text-align: center;
    color: #fefae0;
}
p{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Hedvig Letters Serif', serif;}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #6a994e;
    color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}
.navigation li {
	display: none;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
}
.dark-mode {
	background-color: #000;
	color: #fff;
	border-color: #eee; 
}